body {
    color: white;
    background-color: #333;
}

.bg-default-color {
    background-color: #333;
}

.bg-red {
    background-color: #d00;
}

.bg-green {
    background-color: #0d0;
}

.bg-blue {
    background-color: #00d;
}

.bg-yellow {
    background-color: #ffd700;
}

.bg-pink {
    background-color: #d0d;
}

.bg-light-blue {
    background-color: #0dd;
}

.bg-grey {
    background-color: #bbb;
}

.boxGap {
    background-color: white;
}

.rowGap {
    background-color: white;
}

.selected {
    box-shadow: -5px -5px #dbdb00 inset,  5px 5px #dbdb00 inset;
}

.editable {
    color: #ac00e6;
}

.colorPanel {
    background-color: #555;
}

.sudokuBoard > .numberSpace {
    border: 1px solid white;
}

.sudokuBoard {
     border: 2px solid white;
     border-right: 3px solid white;
}